.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color:lightsalmon;
    color: white;
  }
  header{
    background-color: gainsboro;
    width: 98%;
    display:block;
    padding: 0.1% 0.9%;
    align-items: inherit;
    border: red;
  }
 
  section{
    background-color: brown;
    float: right;
    display: block;
    color: black;
    padding: 25px 83px;
    text-decoration: none;
    font-size: 16px;
    height: 0px;
    width: 0px;
    align-items: row;
  } 
  section i{
    align-items: inherit;
    background-color: yellow;
    display: flexbox;
    flex-direction: horizontal;
  }
  h1{
      padding-left: 90px;
  }
  header .fa-lightbulb{
      color: orange;
     
  }
  header i {
  float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 17px;
    
  }
  header span{
    color: black;
    font-size: 30px;
  
  }
  header input[type=search] {
    align-items: flex-start;
    border: none;
    box-shadow: gray;
    font-weight: 600;
    font-size: 15px;
    width: 80%;
    padding: 1rem 0.7rem;
    margin: 7px 7px 9px 9px;
    margin: 0;
    overflow: hidden;
    width: 40%;
    height: 20%;
    padding: 0.5em;
    margin: 0;
    overflow: hidden;
    padding-top: 20px;
    margin-left: 20%;
    margin-top: 0.5em;
  }
  input[type="search" i] {
    appearance: auto;
    box-sizing: border-box;
    /* padding: 1px 2px; */
}
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: lightsalmon;
    color: white;
  }
  
  .fa-bell{
      size:7px;
  }
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }