@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing:inherit;
}
body{
   
    font-size: 14px;
    font-family: roboto;
    padding-left: 14px;
    padding-right: 14px;
}
.logo{
    font-size: 24px;
    text-align: center;
}

.signup-details{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #dadce0;
    width: 380px;
    height: 450px;
    margin:5% auto;
    padding: 38px 40px;
    font-family:"Roboto";
}
.formfield{
    position: relative;
    box-sizing: border-box;
    float: left;
    margin: auto;
    padding: 0px;
    border: 0px;
    font-size: 0.9em;
    justify-content: space-evenly;
  }
  
 
  #addressfield{
    width:100%;
  }

  .formfield>input, .formfield>label{
    padding: 0.8em;
    margin: 1.0em;
    width: 100%;
  }
  .formfield>input{
    border: 1px solid gray;
    border-radius: 0.5em;
    outline: none;
  }
  .formfield>label{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    color:gray;
  }
  input:focus + label, input:valid + label{
    color: black;
    font-size: 1.0em;
    width: auto;
    height: 1.3em;
    padding: 0px 0.5em 0px 0.5em;
    margin: 0px;
    background: white;
    color: dark grey;
    transition: 0.2s ease-in-out;
    top: 0em;
    left: 1.6em;
  }

.logo{
    align-items: center;
}
.signUpLogo{
    padding: 3% 35%;
    font-family:"Roboto";
}

.signUpLogo, .signUpText {
    margin: 0;
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    align-items: center;
}

.row3 {
    position: relative; 
    top: 12%;
    left: 80%; 
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.signUpText{
    text-align: center;
    font-family: arial;
    color: black;
}
.signup-text1{
    font-family: roboto;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 2vh;
    letter-spacing: 0.05rem;
}
.signup-text2{
    font-family: roboto;
    color: rgb(37, 36, 36);
    font-weight: bolder;
    font-size: 1.1rem;
    letter-spacing: 0.03rem;
    margin-bottom: 3vh;
}

#next-btn{
    margin-top: 10px;
    width: 70px;
    top:50%;
    height: 40px;
    background-color:#1a73e8;
    color: #fff;
    border-radius: 0.3em;

}

.success-icon,
.failure-icon {
  right: 0;
  opacity: 0;
}

.failure-icon,
.error {
  color: red;
}

.success-icon {
  color: green;
}

.error {
  font-size: 14.5px;
  margin-top: 5px;
}
/* .formfield > span
{
   padding-left: 14px;
} */


@media screen and (max-width: 900px) {
    
    .advertise-container {
        display: none;
    }

    .signup-details {
        width: 100%;
    }

    .signUpLogo, .signUpText {
        text-align:center;
    }
    
}

@media screen and (max-width: 600px) {  
    .signup-container {
        width: 100%;
        align-items: flex-start;
    }

    .signup-details-and-advertise-container {
        border: none;
        width: 100%;
        align-items: center;
    }

    .formfield {
        width: 100%;
        flex-direction: column;
        margin-bottom: 10px;
    }
}