@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing:inherit;
}
body{
   
    font-size: 14px;
    font-family: roboto;
    padding-left: 14px;
    padding-right: 14px;
}
.signup-details{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #dadce0;
    width: 200%;
    height: 550px;
    margin:1% auto;
    padding: 30px 30px;
    font-family:"Roboto";
}
.formfield{
    position: relative;
    box-sizing: border-box;
    float: left;
    margin: auto;
    padding: 0px;
    border: 0px;
    font-size: 0.9em;
    justify-content: space-evenly;
  }
  
 
  #addressfield{
    width:400px;  
  }
  #lastnamefield{
      width: 100%;
  }
 
  .formfield>input, .formfield>label{
    padding: 0.8em;
    margin: 1.0em;
    width: 100%;
  }
  .formfield>input{
    border: 1px solid gray;
    border-radius: 0.5em;
    outline: none;
  }
  .formfield>label{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    color:gray;
  }
  /* input:focus + label, input:valid + label{
    color: black;
    font-size: 1.0em;
    width: auto;
    height: 1.3em;
    padding: 0px 0.5em 0px 0.5em;
    margin: 0px;
    background: white;
    color: dark grey;
    transition: 0.2s ease-in-out;
    top: 0em;
    left: 1.6em;
  }
   */


.signup-details-and-advertise-container {
    display: flex;
    flex-direction: column;
    margin: 2.5vw;
}

.signup-details {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    align-items: center;
}

.signUpLogo{
    padding: 3% 35%;
    font-family:"Roboto";
}

.signUpLogo, .signUpText {
    margin: 0;
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    align-items: center;
}



.advertise-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid green;
} 

.AdvertiseSVG-text {
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    line-height: 1.4286;
    color: #202124;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}

.row3 {
    position: relative; 
    top: 10%;
    left: 0.5px; 
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.signInPageBtn {
    padding-top: 0.5px;
    color: #1a73e8;
    font-weight: bold;
    text-align: left;
    padding-left: 25px;
    padding-bottom: 10px;
    font-size: 15px;
    top: 10%;
}
.checkBox{
    top:5%;
    /* font-weight: bold; */
    /* text-align: left; */
    /* padding-left: 9px; */
    font-size: 13px;
    padding-bottom: 12px;
}

.formfield>span{
    color: gray;
    font-size: 15px;
    font-family: roboto;
}
.signUpText{
    text-align: center;
    font-family: arial;
    color: black;
}

.signup-text1{
    font-family: roboto;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 2vh;
    letter-spacing: 0.05rem;
}
.signup-text2{
    font-family: roboto;
    color: rgb(37, 36, 36);
    font-weight: bolder;
    font-size: 1.1rem;
    letter-spacing: 0.03rem;
    margin-bottom: 3vh;
}
/* .SignUpBtnContainer{
    justify-items: center;
} */

.next-btn{
    margin-top: 10px;
    width: 70px;
    top:50%;
    height: 40px;
    background-color:#1a73e8;
    color: #fff;
    border-radius: 0.3em;

}


/* 
@media only screen and (max-width: 1200px){
    .signup-details{
        margin-left: 25vw;
        margin-top: 20vh;
        margin-bottom: 10vh;
    }
}
@media only screen and (max-width: 800px){
    .signup-details{
        margin-left: 20vw;
        margin-top: 30vh;
    }
}
@media only screen and (max-width: 540px) {
    .signup-details{
        margin: 0;
        width: 100%;
        border: none;
    }
}
@media only screen and (max-width: 450px) {
    .signup-details{
        margin: 3vw;
        border: none;
    }
}
@media only screen and (max-width:360px) {
    .signup-details{
      margin: 0;
      border: none;
    }
} */
@media only screen and (max-width: 425px) {
    .signup-details{
        width: auto;
        margin: 5% 0;
        border: none;
        padding: 24px 25px;
    }
}